*{
  margin: 0;
  padding: 0;
  color: rgb(253, 253, 253);
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
}

.modalOn{
  overflow: hidden;
  
}
.modalOff{
  overflow: visible;
}
